/*Body styles*/
body{
    background-color: #828282;
}
body h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

/* FormDev Styles*/
#formComp{
    background-color: #d2d2d2;
    border-radius: 6px;
    height: 280px;
    width: 240px;
    flex-direction: column;
    margin: auto;
    justify-content:end;
    padding: 10px;
    box-shadow: 10px -7px 33px -6px rgba(0,0,0,0.24);
    position: absolute;
    margin-left: 40px;
}
#formComp form{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
#formComp form input{
    font-family: Arial, Helvetica, sans-serif;
    color: #CCC;
}



/*DashBoard comp*/
#dashBoard{
    background-color: #CCC;
    margin-left: 320px;
    height: 500px;
    width: 800px;
    border-radius: 6px;
    position: absolute;
}